<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>navigation</title>
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body>
    <nav id="main_nav">
      <ul>
        <li>
          <a href="/index.html" style="color: white;">
            <h1>kakao<b>bank</b></h1>
          </a>
        </li>
        <ul>
          <li><a href="/src/pages/about.html">은행소개</a></li>
          <li><a href="/src/pages/IR.html">IR투자정보</a></li>
          <li><a href="/src/pages/products.html">상품안내</a></li>
          <li><a href="/src/pages/FAQ.html">고객센터</a></li>
          <li>
            <div id="rel_site">
              <span>관련사이트</span><i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="rel_drop">
              <ul>
                <li><a href="#" target="_blank">카카오뱅크AD<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a href="#" target="_blank">카카오뱅크 인증서<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a href="#" target="_blank">금융기술연구소<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a href="#" target="_blank">기술블로그<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
              </ul>
            </div>
          </li>
          <li><a href="#"><i class="fa-solid fa-globe"></i></a></li>
        </ul>
      </ul>
      <ul class="nav_dropdown"></ul>
    </nav>

    <script type="module" src="/src/js/app.js"></script>
  </body>
</html>
